<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database-Interactions</title>
    <link href="/index.js">
    <link href="../scripts/exercise.js">
    <link href="../style/style.css">
</head>
<body>
    <h1>Today's Workout</h1>
        <h3>Instructions:</h3>
        <ol>
            <li>To add a workout to your workout list, insert the name of the exercise, the number of reps, the weight,
                date, and conversion units. Then click add.</li>
            <li>To edit a workout click the edit button to the right of the exercise.</li>
            <li>Once a workout is completed, click delete and the workout will be removed.</li>
        </ol>
    <div id="addWeightContainer">
    <fieldset>
        <legend>Add a new exercise</legend>
        <form id="addWorkoutForm" action="/" method="post">
        <label for="name">Name:<input type="text" name="name" id="in-name" required/></label><label>reps:<input type="text" name="reps" id="in-reps" required/></label>
        <label for="weight">weight:<input type="text" name="weight" id="in-weight" min="0" max="400"/></label><label>unit:<input type="text" name="unit" id="in-unit" /></label>
        <label for="date">date:<input type="date" name="date" id="in-date" required/></label>
        <input type="submit" name="add" id="in-add">
        </form>
    </fieldset>
    </div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Reps</th>
                <th>Weight</th>
                <th>Units</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody class="exercises" id="exerciseBody">
        <tr>
            <td id="name"></td>
            <td id="reps"></td>
            <td id="weight"></td>
            <td id="units"></td>
            <td id="date"></td>
            <td><button>Edit<input type="hidden" name="edit"/></button></td>
            <td><button>Delete<input type="hidden" name="delete"/></button></td>
        </tr>
        </tbody>
    </table>
</body>
</html>